.gamecard-bg-purple {
    background: radial-gradient(circle, rgba(93, 42, 155, 1) 0%, rgba(57, 17, 74, 1) 100%);
}

.gamecard-bg-basic {
    background: radial-gradient(circle, rgba(93, 42, 155, 0.7) 0%, rgba(57, 17, 74, 0.7) 100%);
}

.gamecard-bg-gold {
    background: linear-gradient(135deg, hsl(43, 89%, 38%) 0%, #dfbe02 50%, #856404 100%) !important;
    border-color: #ffd700 !important;
}

.gamecard-border-basic {
    border-color: rgba(93, 42, 155, 1);
}

.text-gold {
    color: #ffd700;
}

.score-N\/A {
    background: black;
}

.score-D {
  background: radial-gradient(circle, #D1D1D1 0%, #808080 60%, #404040 100%);
  border-color: #D1D1D1;
}

.score-C {
  background: radial-gradient(circle, #B0C4DE 0%, #708090 60%, #2F4F4F 100%);
  border-color: #B0C4DE;
}

.score-B {
  background: radial-gradient(circle, #A1C4FD 0%, #4A6984 70%, #1E2F3E 100%);
  border-color: #A1C4FD;
}

.score-A {
  background: radial-gradient(circle, #00D2FF 0%, #0084A3 50%, #003D4D 100%);
  border-color: #00D2FF;
}

.score-S {
  background: radial-gradient(circle, #D4AF37 0%, #B8860B 55%, #463500 100%);
  border-color: #D4AF37;
}

.score-SS {
  background: radial-gradient(circle, #FF9100 0%, #CC7000 50%, #663300 100%);
  border-color: #ff9100;
}

.score-SSS {
  background: radial-gradient(circle, #FF6B5A 0%, #D94A3A 50%, #5A1F1F 100%);
  border-color: #FF6B5A;
  animation: sss-radial-pulse 2s infinite ease-in-out;
}

@keyframes sss-radial-pulse {
  0%, 100% { filter: drop-shadow(0px 0px 8px rgba(255, 69, 0, 0.4));}
  50% { filter: drop-shadow(0px 0px 20px rgba(255, 0, 0, 0.8));}
}