@import url("./css/output.css");
@import url("./css/templates.css");
@import "tailwindcss";
@plugin "@designbycode/tailwindcss-text-stroke";

.font-micro-5 {
  font-family: "Micro 5", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-silkscreen {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-pixelify-sans {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}